
.description strong {
  color: var(--lime);
  font-weight: normal;
}

.description del {
  text-decoration: none;
  color: rgb(217 157 157);
}

.description ins {
  text-decoration: none;
  color: rgb(153 196 192);
}

/**
 * This is a bit of a workaround: when a diff happens within a highlighting, it
 * leads the `ins` and `del` elements to be within the `strong` element from the
 * highlight. To make sure the `→` symbol living between the `ins` and `del` is
 * white, we need to force the color on the highlight `strong`. It works because
 * in such cases, the only content within the highlight that’s not a diff ele-
 * ment is the arrow.
 */
.description strong:has(ins):has(del) {
  color: white;
}


.next {
  opacity: 0.8;
}

.dependsOn {
  margin-top: 2em;
  color: rgb(223 163 172);
  font-size: 80%;
  margin-bottom: 0;
}

.rank {
  color: rgb(153 196 192);
  margin: 0;
}

.del {
  text-decoration: none;
  color: rgb(217 157 157);
}

.ins {
  text-decoration: none;
  color: rgb(153 196 192);
}

.controls {
  position: absolute;
  top: 0;
  right: 1em;
}
