*, ::before, ::after {
  box-sizing: border-box;
}

html {
  --dark: #13151a;
  --lime: rgb(103 215 86);
  --font-stack: 'Londrina Solid', sans-serif;
  --radius-m: 0.5em;
  --radius-l: 1em;
  --spectrum-global-dimension-size-300: 1em;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  background-color: var(--dark);
  color: white;
}

body {
  margin: 0;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

:focus-visible {
  outline: 0
}
